window-rule {
    geometry-corner-radius 20.0
    clip-to-geometry true
}

window-rule {
    background-effect {
        blur true
        xray false
    }
}

// Floating Noctalia settings window.
window-rule {
    match app-id="dev.noctalia.Noctalia"
    open-floating true
    default-column-width { fixed 1080; }
    default-window-height { fixed 768; }
}

window-rule {
    match app-id="com.mitchellh.ghostty"
    opacity 0.93   
}

window-rule {
    match app-id="steam" title=r#"^notificationtoasts_\d+_desktop$"#
    default-floating-position x=10 y=10 relative-to="bottom-right"
    open-focused false
}

// Layout block wrapping preset-column-widths
layout {
    default-column-width { proportion 0.5; }

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }
}

layer-rule {
    match namespace="^noctalia-wallpaper"
    place-within-backdrop true
}

layer-rule {
    match namespace="^noctalia-(bar-[^\"]+|notification|dock|panel|attached-panel|osd)$"
    background-effect {
        xray false
    }
}
